.Rproj.user
.Rhistory
.RData
.Ruserdata
*fastq*
.nextflow*
log/*
results/*
work/*
*.Rproj
*.csv
*.gtf
*data*
*.pdf
*.RData
*.rda
*results*
*.html
*.tbl
*.feather
*.log
*.png
*.err
*.out
*figures*
*cache*
*.cnt
*.bam
*.bai
*.zip
*work*
*.bedGraph
*qc*
*align*
*.svg
*.bdg
*.rds
*bin*
*data*
*.txt
*.tsv
*.rds
*.gtf
*fa
*.bed